<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
	th:fragment="layout (template, menu)">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" src="/../../resources/images/favicon.ico">

<title>Eugenio Pergunta</title>

<!-- bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- /bootstrap -->

<!-- fonte -->
<link
	href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
	th:href="@{/resources/materialize/css/fonte.css}" rel="stylesheet">

<!-- /fonte -->

<!-- css -->

<link rel="stylesheet" th:href="@{../../resources/materialize/css/style.css}"
	type="text/css">

<!-- /css -->

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark navbarcolor">
			<a class="navbar-brand img-responsive" th:href="@{/}"><img
				src="../../resources/images/logo_header.png" width="250" height="60"
				class="d-inline-block align-top" alt=""> </a>
			<!-- /Imagem logo mct -->

			<!-- navbar -->
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end"
				id="navbarNav">
				<ul class="navbar-nav">
					<!-- /navbar -->

					<!-- fragment layout -->
					<li th:fragment="menuItem (path,active,title,glyph,text)"
						class="active" th:class="${active==menu ? 'active' : ''}"
						th:if="${glyph} == 'logout'"><a class="nav-link"
						data-target="#logoutModal" data-toggle="modal" th:title="${title}">
							<span th:text="${text}">Template</span>
					</a>
						<div class="modal" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true"
							id="logoutModal">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title h5" id="logoutModal">Sair do
											Sistema</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de sair do sistema?</p>
									</div>
									<div class="modal-footer">

										<a
											class="btn btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal"> <i class="material-icons">close</i>
										</a> <a href="/logout"
											class="btn btn-floating btn-medium waves-effect waves-light green">
											<i class="material-icons">done</i>
										</a>
									</div>
								</div>
							</div>
						</div> <!-- Modal Logout --></li>


					<li th:fragment="menuItem (path,active,title,glyph,text)"
						class="active" th:class="${active==menu ? 'active' : ''}"
						th:unless="${glyph} == 'logout'"><a class="nav-link"
						th:href="@{__${path}__}" th:title="${title}"> <span
							th:text="${text}">Template</span>
					</a></li>

					<!-- fragment layout end -->
					<li
						th:replace="::menuItem ('/pesquisas','pesquisas','Pesquisas','pesquisas','Pesquisas')">
						<span>Pesquisa</span>
					</li>

					<li
						th:replace="::menuItem ('/perguntas','perguntas','Perguntas','perguntas','Perguntas')">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<span>Perguntas</span>
					</li>

					<li
						th:replace="::menuItem ('/exportar','exportar','Exportar','exportar','Exportar')">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<span>Exportar</span>
					</li>

					<li
						th:replace="::menuItem ('/perfis','perfis','Perfis','perfis','Perfis')">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						<span>Perfis</span>
					</li>

					<li
						th:replace="::menuItem ('#','logout','Logout','logout','Logout')"
						th:if="${#httpServletRequest.remoteUser != null}"><span>Logout</span>
					</li>

				</ul>



			</div>
		</nav>
	</header>
	<main>
	<div>
		<div class="espaco">
			<th:block th:include="${template}" />
		</div>

	</div>
	</main>

	<footer class="footer">
		<div class="foot">
			<div class="row">
				<div class="logopuc">
					<img src="../../resources/images/logo-rodape-branco-464x140.png"
						width="225" height="60" />
				</div>
				<div class="col l4 offset-l2 s12 share logopuc">
					<div>
						<ul class="row">
							<a href="https://www.facebook.com/museudapucrs" target="_blank"><i
								class="fa fa-facebook-official" style="font-size: 36px"></i></a>
							<a href="https://twitter.com/MuseuPUCRS" target="_blank"><i
								class="fa fa-twitter-square" style="font-size: 36px"></i></a>
							<a href="http://www.flickr.com/photos/eventos_mct/"
								target="_blank"><i class="fa fa-flickr"
								style="font-size: 36px"></i></a>
							<a
								href="https://www.youtube.com/channel/UCv3OjpOu-QMhX7iOCDbZH9w"
								target="_blank"><i class="fa fa-youtube-play"
								style="font-size: 36px"></i></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">© 2019 Copyright DBServer</div>
		</div>
	</footer>

	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="../../resources/materialize/js/materialize.min.js"></script>
	<!-- /Javascript -->


</body>
</html>