<!DOCTYPE html>
<html lang="pt-br" xmlns="https://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container left">


		<div th:if="${mensagem}" class="alert alert-success " role="alert">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<p th:text="${mensagem}"></p>
		</div>

		<div th:if="${mensagemErrorPerfilDuplicado}"
			class="alert alert-danger alert-dismissible " role="alert">
			<strong>Aviso</strong> <a href="#" class="close" data-dismiss="alert"
				aria-label="close">&times;</a>
			<p th:text="${mensagemErrorPerfilDuplicado}"></p>
		</div>

		<div th:if="${mensagemErrorPesquisaExistente}"
			class="alert alert-danger alert-dismissible " role="alert">
			<strong>Aviso</strong> <a href="#" class="close" data-dismiss="alert"
				aria-label="close">&times;</a>
			<p th:text="${mensagemErrorPesquisaExistente}"></p>
		</div>

		<div th:if="${mensagemError}" class="alert alert-danger" role="alert">
			<strong>Aviso</strong> <a href="#" class="close" data-dismiss="alert"
				aria-label="close">&times;</a>
			<p th:text="${mensagemError}"></p>
		</div>

	</div>

</body>
</html>