<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

							<table class="table table-hover">
								<thead>
									<tr>
										<th>Enunciado</th>
										<th></th>
										<th>Idioma</th>
										<th>Categoria</th>


									</tr>
								</thead>
								<tbody>
									<tr th:each="pergunta : ${perguntas}">

										<td class="ellipsis "><div class="form-check">
												<label><input type="checkbox" name="check"><span
													th:text="${pergunta.enunciado}"></span></label>
											</div>
											<div class="modal"
												th:attr="id='customerModel'+${pergunta.id}">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title">Pergunta</h5>
															<button type="button" class="close" data-dismiss="modal"
																aria-label="Fechar">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<textarea class="areaTexto"
																th:text="${pergunta.enunciado}" disabled></textarea>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-dismiss="modal">Fechar</button>
														</div>
													</div>
												</div>
											</div></td>


										<td>
											<button th:attr="data-target='#customerModel'+${pergunta.id}"
												data-toggle="modal"
												class="btn-floating btn-small waves-effect waves-light blue">
												<i class="material-icons">remove_red_eye</i>
											</button>
										</td>
										<td><span th:text="${pergunta.idioma}"></span></td>
										<td><span th:text="${pergunta.categoria}"></span></td>
										<td>
									</tr>
								</tbody>
							</table>
						
</body>
</html>
