<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perfis')}">

<head>
<meta charset="utf-8">
</head>

<body>
	<div class="container">
		<h4>Editar perfil</h4>

		<form action="#" th:action="@{/perfis/__${id}__/editar}"
			th:object="${perfil}" th:method="post">

			<div class="row">
				<div class="input-filed col s12">

					<label><span>Nome:</span><input type="text"
					th:field="*{nome}" maxlength=50/></label>
				</div>
				<div class="input-filed col s3">
					<label><span>Idade mínima:</span><input
						th:field="*{minIdade}" type="number" name="minIdade" /></label>
				</div>
				<div class="input-filed col s3">
					<label><span>Idade máxima:</span><input
						th:field="*{maxIdade}" type="number" name="maxIdade" /></label>
				</div>
			</div>
			<div class="buttonSubmission right">
				<a class="btn btn-primary mb-2 red" th:href="@{/perfis}">Cancelar</a>
				<button class="btn btn-primary mb-2" type="submit">Atualizar</button>
			</div>
			<div class="row">
				<div class="input-filed col s3"
					th:if="*{idioma == T(br.pucrs.mct.pesquisas.modelos.Idiomas).PORTUGUES}">
					<label><input class="with-gap" name="idioma" type="radio"
						value="INGLES" /> <span>Inglês</span></label> <label><input
						class="with-gap" name="idioma" type="radio" value="PORTUGUES"
						checked /><span>Português</span></label>
				</div>
				<div class="input-filed col s3"
					th:unless="*{idioma == T(br.pucrs.mct.pesquisas.modelos.Idiomas).PORTUGUES}">
					<label><input class="with-gap" name="idioma" type="radio"
						value="INGLES" checked /> <span>Inglês</span></label> <label><input
						class="with-gap" name="idioma" type="radio" value="PORTUGUES" />
						<span>Português</span></label>
				</div>

				<div class="input-filed col s1"
					th:if="*{estado == T(br.pucrs.mct.pesquisas.modelos.Estados).ATIVADA}">
					<label><input class="with-gap" name="estado" type="radio"
						value="DESATIVADA" /> <span>Desativada</span></label> <label><input
						class="with-gap" name="estado" type="radio" value="ATIVADA"
						checked /><span>Ativada</span></label>
				</div>
				<div class="input-filed col s1"
					 th:unless="*{estado == T(br.pucrs.mct.pesquisas.modelos.Estados).ATIVADA}">
					<label><input class="with-gap" name="estado" type="radio"
								  value="DESATIVADA" checked /> <span>Desativada</span></label> <label><input
						class="with-gap" name="estado" type="radio" value="ATIVADA" /> <span>Ativada</span></label>
				</div>

			</div>

			<div th:if="${#fields.hasAnyErrors()}"
				class="alert alert-danger alert-dismissible left " role="alert">
				<strong>Aviso</strong> <a href="#" class="close"
					data-dismiss="alert" aria-label="close">&times;</a>
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>

		</form>
		<th:block th:include="fragmentos/mensagens"></th:block>

	</div>
</body>

</html>
