<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perfis')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">

</head>

<body>

	<div class="container">
		<form th:action="@{/perfis}" method="get">
			<div class="row">
				<div class="input-field col s3">
					<label for="nomePerfil"></label> <input type="text"
						class="form-control" id="nomePerfil" name="nome"
						placeholder="Pesquisa nome perfil" />
				</div>
				<div class="input-field col s3">
					<select class="custom-select" name="idioma">
						<option value="">Selecione o Idioma</option>
						<option value="PORTUGUES">Português</option>
						<option value="INGLES">Inglês</option>
					</select>
				</div>
				<div class="input-field col s3">
					<select class="custom-select" name="estado">
						<option value="">Selecione o Estado</option>
						<option value="ATIVADA">Ativada</option>
						<option value="DESATIVADA">Desativada</option>
					</select>
				</div>

			</div>
			<div class="row">
				<div class="input-field col s3">
					<button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
					<a class="btn btn-primary mb-2 red" th:href="@{/perfis}">Limpar</a>
				</div>
				<div class="input-field right">
					<a class="btn btn-primary mb-2" th:href="@{/perfis/novo}">Novo</a>
				</div>

			</div>
		</form>
		<th:block th:include="fragmentos/mensagens"></th:block>


		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Faixa Etária</th>
					<th scope="col">Idioma</th>
					<th scope="col">Editar</th>
					<th scope="col">Estado</th>
					<th scope="col">Excluir</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="per : ${perfis}">
					<td>
						<p th:href="@{/perfis/__${per.id}__}" th:text="${per.nome}" /></p>
					</td>
					<td>
						<p th:text="${per.minIdade}+' à '+${per.maxIdade}" />
					</td>
					<td>
						<p th:href="@{/perfis/__${per.id}__}"
							th:text="${per.idioma.descricao}" />
					</td>
					<td><a th:href="@{/perfis/__${per.id}__/editar}"
						class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">create</i>
					</a></td>
					<td th:if="${per.estado.toString()}==ATIVADA">
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light green"
							data-toggle="modal"
							th:attr="data-target='#estadoModal'+${per.id}">
							<i class="material-icons">check</i>
						</button> <!-- Modal -->

						<div class="modal fade" th:attr="id='estadoModal'+${per.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='estadoModal'+${per.id}">Desativar
											Perfil</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de desativar esse perfil?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/perfis/__${per.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td th:unless="${per.estado.toString()}==ATIVADA">
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light red"
							data-toggle="modal"
							th:attr="data-target='#estadoModal'+${per.id}">
							<i class="material-icons">remove</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='estadoModal'+${per.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='estadoModal'+${per.id}">Ativar
											Perfil</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de ativar esta perfil?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/perfis/__${per.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light grey"
							data-toggle="modal"
							th:attr="data-target='#excluirModal'+${per.id}">
							<i class="material-icons">delete</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='excluirModal'+${per.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='excluirModal'+${per.id}">Excluir
											Perfil</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de excluir esse perfil?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/perfis/__${per.id}__/excluir}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>

			</tbody>
		</table>

	</div>

</body>
</html>
