<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perfis')}">

<head>
<meta charset="utf-8">
</head>

<body>
	<div class="container">
		<h4>Novo perfil</h4>

		<form action="#" th:action="@{/perfis/novo}" th:object="${perfil}"
			th:method="post">
			<div class="row">

				<div class="input-filed col s12">
					<label><span>Nome:</span><input type="text"
						th:field="*{nome}" maxlength=50 /></label>
				</div>
				<div class="input-filed col s3">
					<label><span>Idade mínima:</span><input type="number"
						th:field="*{minIdade}" /></label>
				</div>
				<div class="input-filed col s3">
					<label><span>Idade máxima:</span><input type="number"
						th:field="*{maxIdade}" /></label>
				</div>
			</div>
			<div class="row">
				<div class="input-filed col s12">
					<label> <input class="with-gap" th:field="*{idioma}"
						type="radio" value="INGLES" /> <span>Inglês</span>
					</label> <label> <input class="with-gap" name="idioma" type="radio"
						value="PORTUGUES" /> <span>Português</span>
					</label>
				</div>
			</div>

			<div class="buttonSubmission right">
				<a class="btn btn-primary mb-2 red" th:href="@{/perfis}">Cancelar</a>
				<button class="btn btn-primary mb-2" type="submit">Salvar</button>
			</div>

			<div th:if="${#fields.hasAnyErrors()}"
				class="alert alert-danger alert-dismissible left " role="alert">
				<strong>Aviso</strong> <a href="#" class="close"
					data-dismiss="alert" aria-label="close">&times;</a>
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>
			<th:block th:include="fragmentos/mensagens" class="row"></th:block>
		</form>

	</div>
</body>

</html>
