<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'pesquisas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">
		<form th:action="@{/pesquisas}" method="post">
			<div class="row">
				<div class="input-field col s3">
					<select class="custom-select" name="idioma">
						<option value="">Selecione o Idioma</option>
						<option value="PORTUGUES">Português</option>
						<option value="INGLES">Inglês</option>
					</select>
				</div>
				<div class="input-field col s3">
					<select class="custom-select" name="estado">
						<option value="">Selecione o Estado</option>
						<option value="ATIVADA">Ativada</option>
						<option value="DESATIVADA">Desativada</option>
					</select>
				</div>
				<label for="enunciado"></label> <input type="text"
					class="form-control" id="enunciado" name="nome"
					placeholder="Pesquisar" />
				<div class="input-field">
					<button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
				</div>
				<div class="input-field col s3">
					<a th:href="@{/pesquisas}" class="btn btn-primary mb-2 red">Limpar</a>
				</div>
				<div class="input-field">
					<a th:href="@{/pesquisas/nova}" class="btn btn-primary mb-2">Novo</a>
				</div>
			</div>


		</form>
		<div th:if="${mensagem}" class="alert alert-success left" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Fechar">
				<span aria-hidden="true">&times;</span>
			</button>
			<p th:text="${mensagem}"></p>

		</div>
		<div th:if="${mensagemErro}" class="alert alert-danger left"
			role="alert">
			<p th:text="${mensagemErro}"></p>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th></th>
					<th>Idioma</th>
					<th>Perfil</th>
					<th>Editar</th>
					<th>Estado</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pesquisa : ${pesquisas}">
					<td class="ellipsis"><span th:text="${pesquisa.nome}"></span>
						<div class="modal" th:attr="id='customerModel'+${pesquisa.id}">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Pesquisa</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<textarea class="areaTexto" th:text="${pesquisa.nome}"
											disabled></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div></td>
					<td>
						<button th:attr="data-target='#customerModel'+${pesquisa.id}"
							data-toggle="modal"
							class="btn-floating btn-medium waves-effect waves-light">
							<i class="material-icons">remove_red_eye</i>
						</button>
					</td>
					<td><span th:text="${pesquisa.idioma.descricao}"></span></td>
					
					<td th:if="${pesquisa.perfil} == null">
						<span >Sem perfil</span>
					</td>
					
					<td th:unless="${pesquisa.perfil} == null">
						<span th:text="${pesquisa.perfil.nome}"></span>
					</td>
					
					<td><a th:href="@{/pesquisas/__${pesquisa.id}__/editar}"
						class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">create</i>
					</a></td>
					<td th:if="${pesquisa.estado.toString()}==ATIVADA">
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light green"
							data-toggle="modal"
							th:attr="data-target='#desativarModal'+${pesquisa.id}">
							<i class="material-icons">check</i>
						</button> <!-- Modal -->
						<div class="modal fade"
							th:attr="id='desativarModal'+${pesquisa.id}" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"
											th:attr="id='desativarModal'+${pesquisa.id}">Desativar
											Pesquisa</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de desativar esta pesquisa?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/pesquisas/__${pesquisa.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>

					<td th:unless="${pesquisa.estado.toString()}==ATIVADA">
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light red"
							data-toggle="modal"
							th:attr="data-target='#ativarModal'+${pesquisa.id}">
							<i class="material-icons">remove</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='ativarModal'+${pesquisa.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"
											th:attr="id='ativarModal'+${pesquisa.id}">Ativar
											Pesquisa</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de ativar esta pesquisa?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons">close</i>
										</button>
										<form th:action="@{/pesquisas/__${pesquisa.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light grey"
							data-toggle="modal"
							th:attr="data-target='#excluirModal'+${pesquisa.id}">
							<i class="material-icons">delete</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='excluirModal'+${pesquisa.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"
											th:attr="id='excluirModal'+${pesquisa.id}">Excluir
											Pesquisa</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de excluir esta pesquisa?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons">close</i>
										</button>
										<form th:action="@{/pesquisas/__${pesquisa.id}__/excluir}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
