<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'pesquisas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">

		<form th:action="@{/pesquisas/nova}" th:method="post"
			th:object="${pesquisa}">
			<h4>Nova pesquisa</h4>

			<input maxlength="100" name="nome" type="text" id="nome"
				th:field="*{nome}" placeholder="Digite o nome da pesquisa" />

			<div class="row">

				<div class="col s12">

					<label th:each="idioma : ${idioma}"><input
						class="with-gap input-field" type="radio" th:value="${idioma}"
						th:field="*{idioma}" /> <span th:text="${idioma.descricao}"></span>
					</label>

				</div>
				<div class="col s12">
					<select class="custom-select" th:field="*{perfil}" name="perfil">
						<option value="">Selecione o perfil</option>
						<option th:each="perfil : ${perfis}" th:value="${perfil.id}"
							th:text="${perfil.nome}"></option>
					</select>
				</div>
			</div>

			<div class="row right">
				<div class="buttonSubmission right">
					<a class="btn btn-primary mb-2 red" th:href="@{/pesquisas}">Cancelar
					</a>
					<button class="btn btn-primary mb-2" type="submit">Salvar</button>
				</div>

			</div>
			<div class="row">
				<div class="row col s12 center-block">
					<div th:if="${#fields.hasAnyErrors()}"
						class="alert alert-danger alert-dismissible" role="alert">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Aviso</strong>
						<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
					</div>
					<th:block th:include="fragmentos/mensagens"></th:block>
				</div>
			</div>
		</form>
	</div>


</body>
</html>


