<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'pesquisas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">

		<form th:action="@{/pesquisas/secao}" th:method="post"
			th:object="${pesquisa}">
			<h4>Nova pesquisa</h4>

			<input maxlength="100" name="nome" type="text" id="nome"
				th:field="*{nome}" placeholder="Digite o nome da pesquisa" />

			<div class="row">

				<div class="input-filed col s12">

					<label th:each="idioma : ${idioma}"><input
						class="with-gap input-field" type="radio" th:value="${idioma}"
						th:field="*{idioma}" /> <span th:text="${idioma.descricao}"></span>
					</label>

				</div>
				<div class="input-filed col s12">
					<select class="custom-select" th:field="*{perfil}" name="perfil">
						<option value="">Selecione o perfil</option>
						<option th:each="perfil : ${perfis}" th:value="${perfil.id}"
							th:text="${perfil.nome}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<button class="btn btn-primary mb-2" type="submit">
						<i class="material-icons left">remove_red_eye</i>Pre-Visualizar
					</button>
				</div>
			</div>

			<div>
				<div th:if="${#fields.hasAnyErrors()}"
					class="alert alert-danger alert-dismissible" role="alert">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
				</div>
			</div>

		</form>
		<th:block th:include="fragmentos/mensagens"></th:block>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Seção</th>
					<th></th>
					<th>Descrição</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="secao : ${secoes}">
					<td>
						<p th:href="@{/secoes/__${secao.id}__}" th:text="${secao.nome}" /></p>
					</td>

					<td>
						<button th:attr="data-target='#customerModel'+${per.id}"
							data-toggle="modal"
							class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">remove_red_eye</i>
						</button>
						<div class="modal" th:attr="id='customerModel'+${per.id}">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Pesquisa</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<textarea class="areaTexto" th:text="${per.nome}" disabled></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div>
					</td>

					<td>
						<p th:href="@{/secoes/__${secao.id}__}"
							th:text="${secao.descricao}" /></p>
					</td>

					<td><a th:href="@{/secao/__${secao.id}__/editar}"
						class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">create</i>
					</a></td>

					<td>
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light grey"
							data-toggle="modal"
							th:attr="data-target='#excluirModal'+${per.id}">
							<i class="material-icons">delete</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='excluirModal'+${per.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='excluirModal'+${per.id}">Excluir
											Seção</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de excluir essa seção?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<a href="#" th:href="@{/perfis/__${per.id}__/excluir}"
											class="btn-floating btn-medium waves-effect waves-light green">

											<i class="material-icons"> done </i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</td>

				</tr>

			</tbody>
		</table>



		<div class="row">
			<button class="btn btn-primary mb-2 center-block" data-target="secao"
				data-toggle="modal">
				<i class="material-icons left">add</i>Seções
			</button>
		</div>
		<div class="row right">
			<div class="input-field">
				<a href="/pesquisas" class="btn btn-primary mb-2 red">Cancelar </a>
				<button class="btn btn-primary mb-2" type="submit">Salvar</button>
			</div>
		</div>
		<th:block th:include="fragmentos/modalNovaPergunta"></th:block>

	</div>


</body>
</html>


