<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	th:href="@{/resources/materialize/css/login_style.css}" type="text/css">
<link rel="shortcut icon" type="image/x-icon" th:href="@{/../../resources/images/favicon.ico}">


<title>Login</title>

</head>

<body class="text-center">
	<div class="img-responsive center-block">
		<img src="../../resources/images/logo_colorido_500.png" alt="Eugenio" />
	</div>
	<form class="form-signin" th:action="@{/login}" method="post">
		<h2 class="h3 mb-3 font-weight-normal">Faça Login</h2>

		<label for="inputText" class="sr-only">Endereço de email</label> <input
			name="username" type="text" class="form-control"
			placeholder="Seu login" required autofocus> <label
			for="inputPassword" class="sr-only">Senha</label> <input
			name="password" type="password" class="form-control"
			placeholder="Senha" required>

		<button class="btn btn-lg btn-block hover-login" type="submit">Login</button>
		<div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#"></a>
			<div class="alert alert-danger" th:if="${param.error}">Nome ou
				Senha inválidos!</div>
		</div>

	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>
