<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perguntas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">
		<form th:action="@{/perguntas/__${id}__/editar}"
			th:object="${pergunta}" th:method="post">

			<div class="row">
				<label for="enunciado">Enunciado</label> <input type="text"
					id="enunciado" th:field="*{enunciado}" autofocus="autofocus" />
			</div>

			<div class="row">
				<div class="input-filed col s3"
					th:if="*{idioma.toString()}  == 'PORTUGUES'">
					<label><input class="with-gap" name="idioma" type="radio"
						value="INGLES" /> <span>Inglês</span></label> <label><input
						class="with-gap" name="idioma" type="radio" value="PORTUGUES"
						checked /><span>Português</span></label>
				</div>
				<div class="input-filed col s3"
					th:unless="*{idioma.toString()}  == 'PORTUGUES'">
					<label><input class="with-gap" name="idioma" type="radio"
						value="INGLES" checked /> <span>Inglês</span></label> <label><input
						class="with-gap" name="idioma" type="radio" value="PORTUGUES" />
						<span>Português</span></label>
				</div>
				<div class="input-filed col s1"
					th:unless="*{estado.toString()}  == 'ATIVADA'">
					<label><input class="with-gap" name="estado" type="radio"
						value="DESATIVADA" checked /> <span>Desativada</span></label> <label><input
						class="with-gap" name="estado" type="radio" value="ATIVADA" /> <span>Ativada</span></label>
				</div>
				<div class="input-filed col s1"
					th:if="*{estado.toString()}  == 'ATIVADA'">
					<label><input class="with-gap" name="estado" type="radio"
						value="DESATIVADA" /> <span>Desativada</span></label> <label><input
						class="with-gap" name="estado" type="radio" value="ATIVADA"
						checked /><span>Ativada</span></label>
				</div>

				<div class="input-filed col s12">
					<select class="custom-select" name="categoria">
						<option th:value="*{categoria}" th:text="*{categoria}" selected ></option>
					</select>
				</div>
			</div>
			
			<div class="buttonSubmission right">
				<a class="btn btn-primary mb-2 red" th:href="@{/perguntas}">Cancelar</a>
				<button class="btn btn-primary mb-2" type="submit">Atualizar</button>
			</div>

			<div th:if="${#fields.hasAnyErrors()}"
				class="alert alert-danger alert-dismissible left " role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>
			
			<th:block th:include="fragmentos/mensagens"></th:block>
		</form>
		
	</div>


</body>
</html>


