<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perguntas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">
		<form th:action="@{/perguntas}" method="post" th:object="${pergunta}">
			<div class="row">
				<div class="input-field col s6">
					<select class="custom-select" name="idioma">
						<option value="">Selecione o Idioma</option>
						<option value="PORTUGUES">Português</option>
						<option value="INGLES">Inglês</option>
					</select>
				</div>
				<div class="input-field col s6">
					<select class="custom-select" name="categoria">
						<option value="">Selecione o categoria</option>
						<option  th:each="categoria : ${categoria}" th:value="${categoria}" th:text="${categoria.descricao}"></option>
					</select>
				</div>
				<div class="input-field col s6">
					<select class="custom-select" name="estado">
						<option value="">Selecione o estado</option>
						<option value="ATIVADA">Ativada</option>
						<option value="DESATIVADA">Desativada</option>
					</select>
				</div>
			</div>
			<div class="row">
				<label for="enunciado"></label> <input type="text"
					class="form-control" id="enunciado" name="enunciado"
					placeholder="Pesquisar" />
				<div class="input-field">
					<button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
				</div>
				<div class="input-field col s3">
					<a th:href="@{/perguntas}" class="btn btn-primary mb-2 red">Limpar</a>
				</div>

				<div class="input-field">
					<a th:href="@{/perguntas/nova}" class="btn btn-primary mb-2">Novo</a>
				</div>

			</div>

		</form>

		<div th:if="${mensagem}" class="alert alert-success left" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Fechar">
				<span aria-hidden="true">&times;</span>
			</button>
			<p th:text="${mensagem}"></p>

		</div>
		<div th:if="${mensagemErro}" class="alert alert-danger left"
			role="alert">
			<p th:text="${mensagemErro}"></p>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Enunciado</th>
					<th></th>
					<th>Idioma</th>
					<th>Categoria</th>
					<th>Editar</th>
					<th>Estado</th>
					<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pergunta : ${perguntas}">
					<td class="ellipsis"><span th:text="${pergunta.enunciado}"></span>
						<div class="modal" th:attr="id='customerModel'+${pergunta.id}">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Pergunta</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Fechar">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<textarea class="areaTexto" th:text="${pergunta.enunciado}"
											disabled></textarea>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div></td>
					<td>
						<button th:attr="data-target='#customerModel'+${pergunta.id}"
							data-toggle="modal"
							class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">remove_red_eye</i>
						</button>
					</td>
					<td><span th:text="${pergunta.idioma.descricao}"></span></td>
					<td><span th:text="${pergunta.categoria.descricao}"></span></td>
					<td><a th:href="@{/perguntas/__${pergunta.id}__/editar}"
						class="btn-floating btn-small waves-effect waves-light blue">
							<i class="material-icons">create</i>
					</a></td>
					<td>

						<button th:if="${pergunta.estado.toString() == 'ATIVADA'}"
							type="button"
							class="btn-floating btn-small waves-effect waves-light green"
							data-toggle="modal"
							th:attr="data-target='#desativar'+${pergunta.id}">
							<i class="material-icons">check</i>
						</button>

						<button th:if="${pergunta.estado.toString() == 'DESATIVADA'}"
							type="button"
							class="btn-floating btn-small waves-effect waves-light red"
							data-toggle="modal"
							th:attr="data-target='#ativar'+${pergunta.id}">
							<i class="material-icons">remove</i>
						</button> <!-- Modal -->
						<div class="modal fade" th:attr="id='desativar'+${pergunta.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"
											th:attr="id='desativar'+${pergunta.id}">Desativar
											Pergunta</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de desativar essa pergunta?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/perguntas/__${pergunta.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade" th:attr="id='ativar'+${pergunta.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='ativar'+${pergunta.id}">Ativar
											Pergunta</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de ativar essa pergunta?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>
										<form th:action="@{/perguntas/__${pergunta.id}__/mudarEstado}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</td>
					<td>
						<button type="button"
							class="btn-floating btn-small waves-effect waves-light grey"
							data-toggle="modal"
							th:attr="data-target='#excluir'+${pergunta.id}">
							<i class="material-icons">delete</i>
						</button>

						<div class="modal fade" th:attr="id='excluir'+${pergunta.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:attr="id='exclur'+${pergunta.id}">Excluir
											Pergunta</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>Tem certeza que gostaria de excluir essa pergunta?</p>
									</div>
									<div class="modal-footer">
										<button type="button"
											class="btn-floating btn-medium waves-effect waves-light red"
											data-dismiss="modal">
											<i class="material-icons"> close </i>
										</button>

										<form th:action="@{/perguntas/__${pergunta.id}__/excluir}"
											th:method="post">
											<button type="submit"
												class="btn-floating btn-medium waves-effect waves-light green">
												<i class="material-icons green"> done </i>
											</button>
										</form>

									</div>
								</div>
							</div>
						</div>


					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
