<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragmentos/layout :: layout (~{::body},'perguntas')}">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
	<div class="container">

		<form th:action="@{/perguntas/nova}" th:method="post"
			th:object="${pergunta}">

			<h4>Nova Pergunta</h4>

			<input maxlength="255" name="enunciado" type="text" id="enunciado"
				th:field="*{enunciado}" placeholder="Digite o enunciado da pergunta" />

			<div class="row">

				<div class="col s12">

					<label th:each="idioma : ${idioma}"><input
						class="with-gap input-field" type="radio" th:value="${idioma}"
						th:field="*{idioma}" /> <span th:text="${idioma.descricao}"></span>
					</label>
				</div>
				<div class="col s12">
					<select class="custom-select" th:field="*{categoria}" name="categoria">
						<option value="">Selecione a categoria</option>
						<option th:each="categoria : ${categoria}" th:value="${categoria}"
							th:text="${categoria.descricao}"></option>
					</select>
				</div>
			</div>

			<div class="input-field right">
				<a href="/perguntas" class="btn btn-primary mb-2 red">Cancelar </a>
				<button class="btn btn-primary mb-2" type="submit">Salvar</button>
			</div>

			<div th:if="${#fields.hasAnyErrors()}"
				class="alert alert-danger alert-dismissible left " role="alert">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>

			<th:block th:include="fragmentos/mensagens"></th:block>
		</form>
	</div>
</body>
</html>